@model IEnumerable<DMS_WEB.Models.SET_CLIENT_ATTACHS_GET_Result>
@{
    Layout = null;

    string THUMB_HEIGHT = System.Configuration.ConfigurationManager.AppSettings["THUMB_HEIGHT"].Trim();
    string THUMB_WIDTH = System.Configuration.ConfigurationManager.AppSettings["THUMB_WIDTH"].Trim();
    string FULL_HEIGHT = System.Configuration.ConfigurationManager.AppSettings["FULL_HEIGHT"].Trim();
    string FULL_WIDTH = System.Configuration.ConfigurationManager.AppSettings["FULL_WIDTH"].Trim();
}

@*<div class="div_row tab_header">
    <div class="div_cell div_caption">Attachments</div>    
    <div class="div_cell div_caption"></div>
</div>*@

<h3>Attachments</h3>
<nav>
    @*<ul>
        <li><h2>Attachments</h2></li>
    </ul>*@
    <ul class="image_back">            
@foreach (var item in Model) {

    //string image_path = Server.MapPath(item.FILE_LOCATION + @"/" + item.ATTACH_NO.Value.ToString() + item.FILE_EXT);
    string image_path = item.FILE_LOCATION + @"/" + item.ATTACH_NO.Value.ToString() + item.FILE_EXT;
    image_path = image_path.Replace("~/", "../");
    
    <li class="image_back">
        <div class="div_row ">        
            <div class="div_cell">
                <img src="@image_path" height="@THUMB_HEIGHT" width="@THUMB_WIDTH" title="@item.ATTACH_NAME" alt="@item.ATTACH_NAME" class="cursor image" />
            </div>        
            <div class="div_cell">@Html.ActionLink("Delete", "Delete", new { id = item.ATTACH_NO }, new { @class = "confirm btn btn-danger delete", @tag = item.ATTACH_NO })</div>
        </div>
    </li>
}

    </ul>
</nav>