@model IEnumerable<DMS_WEB.Models.SET_DOCS_TYPES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DOC_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOC_TYPE_CODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DOC_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOC_TYPE_CODE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DOC_TYPE_NO }) |
            @Html.ActionLink("Details", "Details", new { id=item.DOC_TYPE_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DOC_TYPE_NO })
        </td>
    </tr>
}

</table>
