@model DMS_WEB.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="entryform save">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Message</legend>

        <div class="entry_form">
        <div class="editor-label">
            @Html.Label("Login ID : ")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LOGIN_ID)
            @Html.ValidationMessageFor(model => model.LOGIN_ID)
        </div>
        </div>

        <div class="entry_form">
        <div class="editor-label">
            @Html.Label("Old Password : ", new { @for = "OLD_PASSWORD" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OLD_PASSWORD, new { @required = "required", @type="Password" })
            @Html.ValidationMessageFor(model => model.OLD_PASSWORD)
        </div>
        </div>

        <div class="entry_form">
        <div class="editor-label">
            @Html.Label("New Password : ", new { @for = "NEW_PASSWORD" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NEW_PASSWORD, new { @required = "required", @type = "Password" })
            @Html.ValidationMessageFor(model => model.NEW_PASSWORD)
        </div>
        </div>

        <div class="entry_form">
        <div class="editor-label">
            @Html.Label("Retype Password : ", new { @for = "RETYPE_PASSWORD" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RETYPE_PASSWORD, new { @required = "required", @type = "Password" })
            @Html.ValidationMessageFor(model => model.RETYPE_PASSWORD)
        </div>
        </div>

        <div class="entry_form">
            <div class="editor-label">                
            </div>
            <div class="editor-field">                
                <button type="submit" id="btnSave" name="btnSave" class="confirm btn btn-primary">Change Password</button> 
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </fieldset>
}
</div>

@section Scripts {
    
}

<script type="text/javascript">

    $(document).ready(function () {

    });
    $('form').submit(function (e) {
        if (confirm('Do you want to change the password?')) {
            return true;
        } else {
            return false;
        }
    });

</script>