@{
    ViewBag.Title = "Requisition Bulk Upload";
}
<h2>@ViewBag.Title</h2>
<script type="text/javascript">
    var setup_info = @Html.Raw(@ViewBag.setup_info);
</script>
<h3 class="message-error">@ViewBag.Error</h3>
<div class="entryform">
    @using (Html.BeginForm("Save", "Requisition", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <div>
                <div class="entry_form">
                    <div class="editor-label">
                        @Html.Label("Client", new { @for = "CLIENT_NO" })
                    </div>
                    <div class="editor-field">
                        <select id="CLIENT_NO" name="CLIENT_NO" required="required">
                        </select>
                    </div>
                </div>
                <div class="entry_form">
                    <div class="editor-label">
                        @Html.Label("Department", new { @for = "DEPT_NO" })
                    </div>
                    <div class="editor-field">
                        <select id="DEPT_NO" name="DEPT_NO" required="required">
                        </select>
                    </div>
                </div>
                <div class="entry_form">
                    <div class="editor-label">
                        @Html.Label("Request Type", new { @for = "REQ_TYPE_NO" })
                    </div>
                    <div class="editor-field">
                        <select id="REQ_TYPE_NO" name="REQ_TYPE_NO" required="required">
                        </select>
                    </div>
                </div>
                 <div class="entry_form">
                    <div class="editor-label">
                        @Html.Label("Requester", new { @for = "REQUESTER_NO" })
                    </div>
                    <div class="editor-field">
                        <select id="REQUESTER_NO" name="REQUESTER_NO" >
                        </select>
                    </div>
                </div>
                <div class="entry_form">
                    <div class="display-field">
                        @Html.Label("Request Date", new { @for = "REQUEST_DATE" })
                    </div>
                    <div class="display-field">
                        @Html.TextBox("REQUEST_DATE")
                    </div>
                </div>
                <div class="entry_form">
                    <div class="display-field">
                        @Html.Label("Remarks", new { @for = "REMARKS" })
                    </div>
                    <div class="display-field">
                        @Html.TextBox("REMARKS")
                    </div>
                </div>
                <div class="entry_form">
                    <div class="editor-label">
                        @Html.Label("File", new { @for = "txtFile" })
                    </div>
                    <div class="editor-field">
                        <input type="file" id="txtFile" name="txtFile" required="required" autocomplete="off" />
                    </div>
                </div>
                <div class="entry_form">
                    <div class="editor-label">
                        &nbsp;
                    </div>
                    <div class="editor-field">
                        <button type="submit" id="btnUpload" name="btnUpload">
                            Next</button>
                    </div>
                </div>
            </div>
        </fieldset>    
    
    }
</div>
<script type="text/javascript">

    $(document).ready(function () {
        load_default();

        $(document).on("change", '#CLIENT_NO', CLIENT_NO_Click);
    });

    function load_default() {
        $(document).on("live", '#CLIENT_NO', setTimeout(load_clients, 10));
        $(document).on("live", '#DEPT_NO', setTimeout(CLIENT_NO_Click, 10));
        $(document).on("live", '#REQ_TYPE_NO', setTimeout(load_req_type, 10));
        $(document).on("live", '#REQUESTER_NO', setTimeout(DEPT_NO_Click, 10));

        $(document).on("live", '#REQUEST_DATE', setTimeout(function () {
            $('#REQUEST_DATE').mask("99/99/9999");
        }, 10));
    }

    function CLIENT_NO_Click() {
        load_department();
    }

    function DEPT_NO_Click() {
        load_Requester();
    }

    function load_clients() {
        //alert('');
        $('#CLIENT_NO').empty();
        var empty_data = '<option value="">-- Select --</option>';
        $('#CLIENT_NO').append(empty_data);
        //alert(CLIENT_NO);
        $.each(setup_info.client_list, function (i, item) {
            var selected = '';
            if (item.CLIENT_NO == CLIENT_NO) {
                selected = 'selected="selected"';
            }
            var html_data = '';
            html_data += '<option value="' + item.CLIENT_NO + '" ' + selected + '>' + item.CLIENT_NAME + '</option>';
            $('#CLIENT_NO').append(html_data);
        });
    }

    function load_department() {
        $('#DEPT_NO').empty();
        var empty_data = '<option value="">-- Select --</option>';
        $('#DEPT_NO').append(empty_data);
        $.each(setup_info.dept_list, function (i, item) {
            if (item.CLIENT_NO == $('#CLIENT_NO').val()) {
                var selected = '';
                if (item.DEPT_NO == DEPT_NO) {
                    selected = 'selected="selected"';
                }
                var html_data = '';
                html_data += '<option value="' + item.DEPT_NO + '" ' + selected + '>' + item.DEPT_NAME + '</option>';
                $('#DEPT_NO').append(html_data);
            }
        });
    }

    function load_Requester() {
        $('#REQUESTER_NO').empty();
        var empty_data = '<option value="">-- Select --</option>';
        $('#REQUESTER_NO').append(empty_data);
        $.each(setup_info.requesters_list, function (i, item) {
            if (item.DEPT_NO == $('#DEPT_NO').val()) {
                var selected = '';
                if (item.REQUESTER_NO == REQUESTER_NO) {
                    selected = 'selected="selected"';
                }
                var html_data = '';
                html_data += '<option value="' + item.REQUESTER_NO + '" ' + selected + '>' + item.REQ_NAME + '</option>';
                $('#REQUESTER_NO').append(html_data);
            }
        });
    }

    function load_req_type() {
        $('#REQ_TYPE_NO').empty();
        var empty_data = '<option value="">-- Select --</option>';
        $('#REQ_TYPE_NO').append(empty_data);
        $.each(setup_info.req_type_list, function (i, item) {
            var selected = '';
            if (item.REQ_TYPE_NO == REQ_TYPE_NO) {
                selected = 'selected="selected"';
            }
            var html_data = '';
            html_data += '<option value="' + item.REQ_TYPE_NO + '" ' + selected + '>' + item.REQ_TYPE_NAME + '</option>';
            $('#REQ_TYPE_NO').append(html_data);
        });
    }


    function is_valid_entry() {
        var ret_val = true;
        var msg = '';

        var CLIENT_NO = $.trim($('#CLIENT_NO').val());
        var DEPT_NO = $.trim($('#DEPT_NO').val());
        var REQUEST_DATE = $.trim($('#REQUEST_DATE').val());
        var REQ_TYPE_NO = $.trim($('#REQ_TYPE_NO').val());


        if (CLIENT_NO == undefined || CLIENT_NO == null || CLIENT_NO == '') {
            ret_val = ret_val && false;
            msg += 'Client is required \n';
        }
        if (DEPT_NO == undefined || DEPT_NO == null || DEPT_NO == '') {
            ret_val = ret_val && false;
            msg += 'Department is required \n';
        }

        if (REQUEST_DATE == undefined || REQUEST_DATE == null || REQUEST_DATE == '') {
            ret_val = ret_val && false;
            msg += 'Request Date is required \n';
        }

        if (REQ_TYPE_NO == undefined || REQ_TYPE_NO == null || REQ_TYPE_NO == '') {
            ret_val = ret_val && false;
            msg += 'Request Type is required \n';
        }

        if (ret_val == false) {
            alert(msg);
        }

        return ret_val;
    }

    jQuery(function ($) {
        $('#btnUpload').click(function () {
            if (is_valid_entry()) {
                if (confirm('Do you want to Continue?')) {
                    return true;
                } else {
                    return false;
                }
            }
        });
    });
</script>
