@*@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@

@{
    DMS_WEB.Models.SEC_USERS_GET_Result user_info = null;
    try {
        user_info = Session["sess_user_info"] as DMS_WEB.Models.SEC_USERS_GET_Result;
    } catch (Exception ex) {
        
    }
     
    if (user_info != null) {
        
        <text>
            Hello, @user_info.FIRST_NAME @user_info.MID_NAME @user_info.LAST_NAME           
        </text>
        
        @Html.ActionLink("Change Password", "ChangePassword", "Login", null, new { @class = "btn btn-success" })    
    
        @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-success" })
    } else {
        @Html.ActionLink("Login", "Index", "Login", null, new { @class = "btn btn-danger" })
    }
     
}